/*primary colors*/
/*font families*/
/*BOXED LAYOUT*/
/*GRID - media queries breakpoints*/
.scheaddetail {
    text-align: center;
    padding-bottom: 62px;
    z-index: 10;
}
.scheaddetail .heading {
    font-family: ieb, sans-serif;
    margin: 15px 0 32px 0;
}
.scheaddetail .heading.--h2 {
    color: #fff;
    background: none;
    -webkit-text-fill-color: initial;
}
.scheaddetail__info {
    max-width: 612px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(129, 75, 246, 0.3);
    border-bottom: 1px solid rgba(129, 75, 246, 0.3);
    padding: 24px 0;
}
.scheaddetail__info-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
    font-family: ib, sans-serif;
    color: rgba(255, 255, 255, 0.5);
    font-size: var(--body14-fs);
    line-height: var(--body14-lh);
}
.scheaddetail__info-item i {
    margin-right: 10px;
}
.scheaddetail__info-item i img {
    width: 16px;
    display: block;
}

.scdetail {
    padding-bottom: var(--pd-section);
    position: relative;
}
.scdetail .container {
    position: relative;
    z-index: 10;
}
.scdetail__inner {
    max-width: 612px;
    margin: 0 auto;
}
.scdetail__featured {
    margin: 0 auto;
}
.scdetail__featured img {
    display: block;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 auto 40px auto;
    width: 828px;
}
.scdetail__content {
    margin: 0 auto 60px auto;
    color: rgba(255, 255, 255, 0.6);
    position: relative;
}
.scdetail__content-share-container {
    height: 100%;
    position: absolute;
    top: 0;
    left: -109px;
}
.scdetail__content-share-container .share {
    position: sticky;
    border-radius: 10px;
    top: 100px;
    background: rgba(129, 75, 246, 0.1);
    padding: 11px 16px;
}
.scdetail__content-share-container .share .title {
    text-transform: uppercase;
    color: #938ca7;
    font-size: var(--body10-fs);
    font-family: ieb, sans-serif;
    padding-bottom: 3px;
    margin-top: 0;
    margin-bottom: 16px;
    border-bottom: 1px solid rgba(65, 57, 134, 0.5);
}
.scdetail__content-share-container .share ul {
    margin-bottom: 0;
}
.scdetail__content-share-container .share ul li {
    position: relative;
}
.scdetail__content-share-container .share ul li:not(:last-child) {
    margin-bottom: 10px;
}
.scdetail__content-share-container .share ul li a {
    display: block;
    cursor: pointer;
}
.scdetail__content-share-container .share ul li a img {
    margin: 0 auto;
}
.scdetail__content-share-container .share ul li .tooltip {
    height: 30px;
    position: absolute;
    top: 38%;
    right: 42px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    opacity: 0;
    pointer-events: none;
    background: rgba(9, 9, 9, 0.5);
    border-radius: 4px;
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.8);
    font-size: var(--body12-fs);
    padding: 2px 8px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.scdetail__content-share-container .share ul li .tooltip::after {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    background: url(/img/right-arrow.svg) no-repeat center;
    background-size: contain;
    position: absolute;
    right: -6px;
    top: 50%;
    transform: translateY(-50%) scaleY(1.3);
    -webkit-transform: translateY(-50%) scaleY(1.3);
    -moz-transform: translateY(-50%) scaleY(1.3);
    -ms-transform: translateY(-50%) scaleY(1.3);
    -o-transform: translateY(-50%) scaleY(1.3);
}
.scdetail__content-share-container .share ul li .tooltip img {
    width: auto;
    max-width: initial;
}
.scdetail__content-share-container .share ul li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.scdetail__content img {
    margin: 0;
}
.scdetail__content ul {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
}
.scdetail__content ul li {
    font-size: 100%;
}
.scdetail__content ol {
    padding-left: 1.5rem;
}
.scdetail__content ol li {
    font-size: 100%;
    padding-left: 0.6rem;
}
.scdetail__content pre {
    font-size: 60%;
    margin-top: 2.6rem;
    margin-bottom: 0;
    padding: 1.6rem;
    background-color: rgba(9, 9, 9, 0.5);
    color: #fff;
}
.scdetail__content code {
    font-size: 90%;
    padding: 2px 4px;
    background-color: rgba(9, 9, 9, 0.5);
    color: #fff;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}
.scdetail__content h1 {
    font-size: 150%;
    font-weight: 500;
    margin-top: 2.6rem;
}
.scdetail__content h2 {
    font-size: 125%;
    font-weight: 400;
    line-height: 2.2rem;
    margin-top: 3rem;
    margin-bottom: 0;
    opacity: 0.9;
}
.scdetail__content h3 {
    font-size: 110%;
    font-weight: 300;
    line-height: 2rem;
    margin-top: 2.5rem;
    margin-bottom: 0;
    opacity: 0.8;
}
.scdetail__content h4 {
    font-size: 105%;
    font-weight: 200;
    line-height: 1.8rem;
    margin-top: 2.2rem;
    margin-bottom: 0;
    opacity: 0.8;
}
.scdetail__content p {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
}
.scdetail__content strong {
    font-weight: 600;
}
.scdetail__content blockquote {
    font-size: 100%;
    font-style: italic;
    font-family: georgia, serif;
    margin-top: 2.6rem;
    padding-left: 3rem;
    padding-right: 3rem;
    opacity: 0.8;
}
.scdetail__content .article-quote-small {
    font-size: 100%;
    margin-top: 2.6rem;
    border-left: 3px solid;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-style: italic;
    font-weight: 100;
}
.scdetail__content .article-image-header {
    max-width: 100%;
    display: block;
    margin: auto;
}
.scdetail__content hr {
    max-width: 612px;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(129, 75, 246, 0.3);
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: 0;
}
.scdetail__tags {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    font-family: im, sans-serif;
    font-size: var(--body12-fs);
    line-height: var(--body12-lh);
    border-top: 1px solid rgba(129, 75, 246, 0.3);
    border-bottom: 1px solid rgba(129, 75, 246, 0.3);
    padding: 24px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.scdetail__tags a {
    color: rgba(255, 255, 255, 0.3);
    margin-right: 16px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.scdetail__tags a:hover {
    color: #814bf6;
}
.scdetail__relate {
    margin-top: 60px;
}
.scdetail__relate-heading {
    margin-bottom: 32px;
}
.scdetail__relate-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--gap);
}
.scdetail__relate-item .contentblog {
    padding-top: 6px;
}
.scdetail__relate-item .contentblog .heading {
    font-family: ib, sans-serif;
    color: #fff;
    display: -webkit-inline-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 60px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.scdetail__relate-item .contentblog .heading:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.scdetail .bgblurblog {
    top: -5%;
}

.sccatblog {
    padding-bottom: var(--pd-section);
    margin-top: -30px;
}
.sccatblog__list {
    position: relative;
    z-index: 11;
}
.sccatblog__list .itemblog {
    width: 612px;
    height: 612px;
    margin: 0 calc(var(--gap) / 2);
}
.sccatblog__list .flickity-page-dots {
    margin-top: 40px;
}
.sccatblog .bgblurblog {
    top: -5%;
}

@media screen and (max-width: 991px) {
    .scheaddetail {
        padding-bottom: 0;
    }
    .scheaddetail .heading {
        color: #fff;
    }
    .scheaddetail__info {
        padding: 16px 0;
    }
    .scdetail {
        margin: 40px auto;
    }
    .scdetail__content {
        margin: 0 0 40px 0;
    }
    .scdetail__content-share-container {
        display: none;
    }
    .scdetail__tags {
        padding: 16px 0;
    }
    .scdetail__relate-heading {
        text-align: center;
    }
    .scdetail__relate-list {
        grid-template-columns: 1fr;
        row-gap: 40px;
    }
    .sccatblog {
        margin-top: 40px;
    }
    .sccatblog__list .itemblog {
        width: calc(100% - 40px);
        height: auto;
        background: rgba(129, 75, 246, 0.1);
        border-radius: 10px;
        padding: var(--gap);
        margin: 0 20px;
    }
    .sccatblog__list .itemblog:first-child {
        margin-left: var(--gap);
        padding: var(--gap);
    }
    .sccatblog__list .itemblog:last-child {
        margin-right: var(--gap);
    }
    .sccatblog__list .itemblog .contentblog .heading {
        display: -webkit-inline-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .sccatblog__list .itemblog .imgblog {
        margin-bottom: 24px;
        display: block;
    }
}
.scmainblog {
    padding-bottom: var(--pd-section);
}
.scmainblog .container {
    position: relative;
    z-index: 10;
}
.scmainblog__texttop {
    max-width: 700px;
}
.scmainblog__texttop .heading {
    color: #fff;
    font-family: ib, sans-serif;
    font-size: var(--h1-fs);
    line-height: var(--h1-lh);
}
.scmainblog__featured {
    display: grid;
    grid-template-columns: 1fr 396px;
    grid-template-rows: repeat(2, 288px);
    gap: var(--gap);
    margin-top: 4rem;
}
.scmainblog__featured-item {
    background: rgba(129, 75, 246, 0.1);
    border-radius: 10px;
    padding: 32px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.scmainblog__featured-item .imgblog {
    margin-bottom: 24px;
    display: none;
}
.scmainblog__featured-item .hashtag {
    display: none;
}
.scmainblog__featured-item:first-child {
    grid-row: 1/3;
}
.scmainblog__featured-item:hover {
    background: rgba(129, 75, 246, 0.2);
}
.scmainblog-tabs {
    margin-top: 6rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
}
.scmainblog-tabs a.tab {
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    padding: 4px 16px;
    margin: 0px 12px;
    font-family: im, sans-serif;
    font-size: var(--boxy14-fs);
    line-height: var(--body14-lh);
    cursor: pointer;
    white-space: nowrap;
    -webkit-transition: 0.3s;
}
.scmainblog-tabs a.tab.active {
    color: #fff;
    background: rgba(129, 75, 246, 0.3);
}
.scmainblog-tabs a.tab:hover {
    color: #fff;
}
@media screen and (max-width: 991px) {
    .scmainblog-tabs {
        justify-content: flex-start;
        overflow-x: scroll;
        margin: 2rem calc(var(--gap) * -1);
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .scmainblog-tabs::-webkit-scrollbar {
        display: none;
    }
    .scmainblog-tabs .tab {
        margin: 0;
    }
    .scmainblog-tabs .tab:first-child {
        margin-left: var(--gap);
    }
    .scmainblog-tabs .tab:last-child {
        margin-right: var(--gap);
    }
    .scmainblog-tabs .tab:not(:last-child) {
        margin-right: 6px;
    }
}
.scmainblog__post {
    margin-top: 20px;
}
.scmainblog__post .btnloadmore {
    margin-top: 80px;
    cursor: pointer;
}
.scmainblog__post .btnloadmore--hidden {
    display: none;
}
.scmainblog__item {
    display: grid;
    grid-template-columns: 1fr 470px;
    column-gap: 56px;
    padding: 50px;
    background-color: rgba(129, 75, 246, 0.1);
    border-radius: 20px;
    margin-bottom: 40px;
}
.scmainblog__item:hover {
    background: rgba(129, 75, 246, 0.2);
}
@media screen and (max-width: 991px) {
    .scmainblog__texttop {
        text-align: center;
    }
    .scmainblog__featured {
        display: block;
        margin-top: 1rem;
        margin-left: calc(var(--gap) * -1);
        margin-right: calc(var(--gap) * -1);
    }
    .scmainblog__featured-item {
        width: calc(100% - 40px);
        background: rgba(129, 75, 246, 0.1);
        border-radius: 10px;
        padding: var(--gap);
        margin: 0 20px;
    }
    .scmainblog__featured-item:first-child {
        margin-left: var(--gap);
        padding: var(--gap);
    }
    .scmainblog__featured-item:last-child {
        margin-right: var(--gap);
    }
    .scmainblog__featured-item .contentblog .heading {
        display: -webkit-inline-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .scmainblog__featured-item .imgblog {
        margin-bottom: 24px;
        display: block;
    }
    .scmainblog__featured-item .hashtag {
        display: flex;
    }
    .scmainblog__post-tabs {
        margin-bottom: 40px;
    }
    .scmainblog__post .btnloadmore {
        margin-top: 40px;
    }
    .scmainblog__item {
        grid-template-columns: 1fr;
        gap: 0;
        padding: var(--gap);
        margin-bottom: 30px;
        border-radius: 10px;
    }
    .scmainblog__item .imgblog {
        order: 0;
        margin-bottom: 24px;
    }
    .scmainblog__item .contentblog {
        order: 1;
    }
}
@media screen and (max-width: 767px) {
    .scmainblog .bgblurblog {
        top: 3%;
    }
}

.breadcrumb {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    text-align: center;
}
.breadcrumb li:not(:last-child):after {
    content: "/";
    display: inline-block;
    margin: 0 20px;
}
.breadcrumb li a {
    color: #814bf6;
    font-size: var(--body14-fs);
    line-height: var(--body14-lh);
    font-family: ib, sans-serif;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.breadcrumb li a.current {
    pointer-events: none;
    font-family: ir, sans-serif;
    color: #938ca7;
}
.breadcrumb li a:hover {
    color: #fff;
}
@media screen and (max-width: 767px) {
    .breadcrumb li:not(:last-child):after {
        margin: 0 15px;
    }
}

.contentblog .heading {
    width: 100%;
    display: -webkit-inline-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 8px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.contentblog .heading.--h3 {
    font-size: var(--h4-fs);
    line-height: var(--h4-lh);
}
.contentblog .heading:hover {
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.contentblog .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(65, 57, 134, 0.5);
    padding-top: 16px;
    margin-top: 8px;
    color: rgba(255, 255, 255, 0.5);
}
.contentblog .info__date {
    display: flex;
    align-items: center;
    font-family: im, sans-serif;
    font-size: var(--body14-fs);
    line-height: var(--body14-lh);
}
.contentblog .info__date img {
    margin-right: 5px;
}
.contentblog .hashtag {
    width: 100%;
    font-family: im, sans-serif;
    font-size: var(--body12-fs);
    line-height: var(--body12-lh);
    border-top: 1px solid rgba(65, 57, 134, 0.5);
    padding-top: 18px;
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: hidden;
}
.contentblog .hashtag a {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    margin-right: 12px;
}
.contentblog .hashtag a:hover {
    color: #fff;
}
@media screen and (max-width: 991px) {
    .contentblog {
        text-align: center;
    }
    .contentblog .heading.--h3 {
        font-size: var(--h3-fs);
        line-height: var(--h3-lh);
    }
    .contentblog .info {
        justify-content: center;
        border-top: 0;
        margin-top: 0;
        padding-top: 6px;
    }
    .contentblog .info .btnlink {
        display: none;
    }
    .contentblog .hashtag {
        justify-content: center;
    }
    .contentblog .hashtag a {
        margin: 0 6px;
    }
}

.imgblog a {
    width: 100%;
    height: 0;
    padding-bottom: 60%;
    position: relative;
    display: block;
    border-radius: 10px;
    overflow: hidden;
}
.imgblog img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    position: absolute;
}

.itemblog {
    background: rgba(129, 75, 246, 0.1);
    border-radius: 10px;
    transition: background 0.3s;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;
}
.itemblog .imgblog {
    margin-bottom: 24px;
}
.itemblog .contentblog {
    text-align: left;
}
.itemblog .contentblog .heading {
    text-align: left;
    margin-left: 0;
}
.itemblog .hashtag {
    display: none;
}
.itemblog.--big {
    padding: 50px 70px;
}
@media screen and (max-width: 991px) {
    .itemblog.--big {
        padding: var(--gap);
    }
}
.itemblog.--big .imgblog {
    display: block;
}
.itemblog.--big .contentblog .heading.--h3 {
    font-size: var(--h3-fs);
    line-height: var(--h3-lh);
}
.itemblog:hover {
    background: rgba(129, 75, 246, 0.2);
    transition: background 0.3s;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;
}
@media screen and (max-width: 991px) {
    .itemblog.--big .contentblog {
        text-align: center;
    }
    .itemblog.--big .contentblog .heading {
        text-align: center;
    }
}


/*# sourceMappingURL=blog.css.map */
